<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html>
<head>
    <title>Редактирование жанра</title>
    <meta charset="utf-8">
</head>

<body>

<form id="edit-form" action="genre/edit.html" th:action="@{/genre/edit(id=${genre.id})}" th:method="post" th:object="${genre}">
    <h3>Редактирование жанра</h3>

    <div class="row">
        <label for="id-input">ID:</label>
        <input id="id-input" type="text" readonly="readonly" th:value="*{id}" value="1"/>
    </div>

    <div class="row">
        <label for="genre-name-input">Имя жанра:</label>
        <input id="genre-name-input" name="name" type="text" th:value="*{name}" value="Роман"/>
    </div>

    <div class="row">
        <button type="submit">Изменить</button>
        <a th:href="@{/genre/all}"><button type="button">Отменить</button></a>
    </div>
</form>

</body>
</html>