<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html>
<head>
    <title>Добавление книги</title>
    <meta charset="utf-8">
</head>

<body>

<form id="edit-form" th:action="@{/book/add}" th:method="post">
    <h3>Добавление книги</h3>

    <div class="row">
        <label for="book-title-input">Название книги:</label>
        <input id="book-title-input" name="name" type="text"/>
    </div>

    <div class="row">
        <label for="author-book">Автор:</label>
        <select class="form-control" id="author-book" name="author">
            <option th:each="author : ${authors}"
                    th:value="${author.getId()}"
                    th:text="${author}">
            </option>
        </select>
    </div>

    <div class="row">
        <label for="genre-book">Жанр:</label>
        <select class="form-control" id="genre-book" name="genre">
            <option th:each="genre : ${genres}"
                    th:value="${genre.getId()}"
                    th:text="${genre}">
            </option>
        </select>
    </div>

    <div class="row">
        <button type="submit">Добавить</button>
        <a th:href="@{/book/all}"><button type="button">Отменить</button></a>
    </div>
</form>

</body>
</html>