<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<html>
<head>
    <title>Delete Book</title>
    <meta charset="utf-8">
</head>

<body>

<div class="container mt-5">
    <form th:action="@{/book/delete(id=${book.id})}" th:method="post">

        <div class="form-group">
            <label for="id">Хотите удалить книгу с ID?</label>
            <input type="text" readonly="readonly" class="form-control" id="id" th:value="${book.id}" value="0">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <br>
    <a th:href="@{/book/all}">К списку книг</a>
</div>

</body>
</html>